/* vim:set et ts=2 sw=2: */


header { }

  header h1, header h2 {
    font-size: 200%;
    padding: 0.5em;
  }

    header h1 { background: #ddd; }
    header h2 { background: #eee; }

    header a {
      text-decoration: none;
      color: inherit;
    }


#main {
  padding: 0 1em;
}

  #main section {
    margin: 2em 0;
  }

    #main h3 {
      font-weight: bold;
    }

    #main p, #main ul, #main h3 {
      margin: 0.75em 0;
      line-height: 1.5;
    }

    #main ul {
      margin-left: 1.5em;
    }

      #main li {
        list-style: disc;
      }


footer {
  border-top: 2px solid #ddd;
  font-size: 80%;
  padding: 1.25em;
}

    footer a {
      color: inherit;
    }


#repo_url {
  font-size: 200%;
  width: 100%;
  padding: 5px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;

  background: url(/images/repo_url_bg.png) repeat-x;
  border: 1px solid #ccc;
  border-radius: 3px;
}
