// vim: et ts=2 sw=2


header {
  h1, h2 {
    font-size: 200%;
    padding: 0.5em;
  }

  h1 { background: #ddd; }
  h2 { background: #eee; }

  a {
    text-decoration: none;
    color: inherit;
  }
}


#main {
  padding: 0 1em;

  section {
    margin: 2em 0;

    h3 {
      font-weight: bold;
    }

    p, ul, h3 {
      margin: 0.75em 0;
      line-height: 1.5;
    }

    ul {
      margin-left: 1.5em;

      li {
        list-style: disc;
      }
    }

    &.error {
      text-align: center;
      font-style: italic;
      color: #ccc;
    }
  }
}


footer {
  border-top: 2px solid #ddd;
  font-size: 80%;
  padding: 1.25em;

  a {
    color: inherit;
  }
}


#repo_url {
  font-size: 200%;
  width: 100%;
  padding: 5px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;

  background: url(/images/repo_url_bg.png) repeat-x;
  border: 1px solid #ccc;
  border-radius: 3px;
}
