<!DOCTYPE html>
<html>
  <head>
    <title>GitFeed</title>
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
